.row.comment{ id: comment.id }
  = gravatar comment.user
  .span6.content
    %p.author= comment.user.full_name
    %p.comment-date
      = time_ago_in_words comment.created_at \
      = t('ago')
    = comment.content
