!!! 5
%html
  %head
  %title= t('.helaas')
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags

  %body
    %button#toggle_notifications Notifications
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = link_to t('.helaas'), root_path, class: 'brand'
          .nav-collapse.collapse
            %ul.nav
              %li= link_to t('.home'), root_path

    .container
      = yield

      .notifications{ 'data-uri' => "#{root_url(true).sub(/^http:\/\//, '')}websocket" }

